* {
  font-family: "Playpen Sans Arabic", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Playpen Sans Arabic', Arial, Helvetica, sans-serif;
}
